<div class="profile__info-item">
    <label for={{name}}>{{label}}</label>
    <input
        class="input__element"
        type= {{type}}
        value={{value}}
        name={{name}}
    />
</div>
